<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/products.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Stores</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col mb-2">
            <form th:action="@{/store/edit/{id}(id=${storeId})}" method="POST" th:object="${store}">
                <h2 class="text-center">Update Store</h2>
                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Name"/>
                </div>
                <div class="form-group">
                    <input type="text" th:field="*{address}" class="form-control" placeholder="Address"/>
                </div>
                <div class="form-group">
                    <select class="form-control" th:field="*{cityId}">
                        <option th:each="city : ${cities}"
                                th:value="${city.id}"
                                th:text="${city.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" value="Create">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>